.anim_fadeout{
    animation: anikey-fadeout-none 0.5s linear forwards normal;
}

@keyframes anikey-fadeout-none{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.anim_fadein{
    animation: anikey-fadein 0.5s linear forwards normal;
}

@keyframes anikey-fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.anim_zoomin{
    animation: anikey-zoomin 2s ease-in forwards normal;
}

@keyframes anikey-zoomin{
    0%{
        transform:scale(1,1);
    }
    100%{
        transform:scale(1.2,1.2);
    }
}